# Created by venv; see https://docs.python.org/3/library/venv.html
.env
.venv
*.mp4
*.mp3
*.tar.gz
*.whl
tts_audio
lib
bin
include
__pycache__/
.vscode/

# Voice models (Piper)
~/.guideframe/voices/
.guideframe/voices/